/* Affirmation Card styling */
.card-columns {
  font-family: 'Calligraffitti', cursive;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}
.affirmation-card{
    color: white;
    background-color: #FFFFFF60;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.0rem;
}