.modal{
  font-family: 'Calligraffitti', cursive;
}
.modalTitle{
  text-align: center;
}
.modalButton{
  display:inline-block;
  color: white;
  border-radius:2em;
  width:25%;
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0), 0 6px 6px rgba(0,0,0,0);
    margin: 8px 10px 12px;
}
.modalButton:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.modal-header{
  border-bottom: none;
}
.modal-footer{
  border-top: none;
}