/* Header Styling */
.navbar {
  font-family: "Calligraffitti", cursive;
}

.brand {
  color: white !important;
}

button {
  width: 60px;
  height: 25px;
}

.login-button {
  background: rgba(255, 255, 255, 0.2);
  color: #808080;
  border: 1px solid #808080;
  border-radius: 2px;
  padding: .2px;
}
.login-button:hover {
  background: lightblue;
  color: white;
  border-color: white;
}

.add-button {
  width: 60px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: #808080;
  border: 1px solid #808080;
  border-radius: 5%;
  padding: 3px;

}
.add-button:hover {
  background: #ff9f21;
  color: white;
  border-color: white;
}
