/* Header Styling */
.navbar {
  font-family: "Calligraffitti", cursive;
}

.brand {
  color: white !important;
}

button {
  width: 36px;
  height: 36px;
}

.login-button {
  background: rgba(255, 255, 255, 0.2);
  color: #808080;
  border: 1px solid #808080;
  border-radius: 50%;
}
.login-button:hover {
  background: #ff216e;
  color: white;
  border-color: white;
}

.add-button {
  background: rgba(255, 255, 255, 0.2);
  color: #808080;
  border: 1px solid #808080;
  border-radius: 50%;
}
.add-button:hover {
  background: #ff9f21;
  color: white;
  border-color: white;
}
